.progress-container {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}


.progress-wrapper {
  width: 300%;
  background-color: rgb(143, 132, 132);
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid rgb(77, 71, 71);

}

.progress-bar {
  width:1%;
  height: 25px;
  background-color: green;
  text-align: center;
  border: 2px solid rgb(103, 165, 94);
  line-height: 25px;
  color: rgb(251, 236, 236);
  font-weight: bold;
  transition: width 0.3s ease;dd
}